.container {
  display: flex;
  gap: 0.5rem;
  min-width: 20rem;

  .label {
    color: #ffffff;
    font-weight: 500;
    user-select: none;
    min-width: 25%;
  }

  .input {
    display: inline-flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1rem;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
    border-radius: 0.125rem;
    outline: none;

    &:focus {
      border: 3px solid var(--accent-color);
    }
  }
}

.vertical {
  flex-direction: row;
  align-items: center;
}

.horizontal {
  flex-direction: column;
  justify-content: center;
}
