.container {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  .notification {
    padding: 0.5rem;
    margin: 0;
    background-color: #ffffff;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    color: #000000;
    border-radius: 0.125rem;
    opacity: 0;

    &.visible {
      opacity: 100%;
    }
  }

  .messageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .message {
      display: flex;
      text-overflow: ellipsis;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }

    .crossIcon {
      margin-left: 0.5rem;
    }
  }
}

.success {
  color: #10b981;
}

.error {
  color: #ef4444;
}
