@import 'normalize.css';

:root {
  --text-color: rgb(241 245 249);
  --bg-color: rgb(39 39 42);
}

body {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  color: var(--text-color);
  background-color: var(--bg-color);
}
